{% load static %}
<footer id="footer" class="style-default">
  <div class="footer-top">
    <div class="container-xxl">
      <nav class="main-nav">
        <ul class="menu menu-horizontal list-unstyled">
          <li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46">
            <a href="">Over ons</a>
          </li>
          <li id="menu-item-5230" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5230">
            <a href="">Blogs</a>
          </li>
          <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48">
            <a href="">Veelgestelde vragen</a>
          </li>
          <li id="menu-item-464" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-464">
            <a href="">Verzenden en retourneren</a>
          </li>
          <li id="menu-item-469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-469">
            <a href="">Partner worden?</a>
          </li>
          <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47">
            <a href="">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <hr />

  <div class="footer-center">
    <div class="container-xxl">
      <div class="form-newsletter">
        <p class="mb-2">
          Sign up and receive a one-time 10% discount on your first order
        </p>
        <form class="kaliforms-form-container bootstrap-wrapper" data-form-id="5729" style="opacity: 0">
          <div id="kaliforms-global-error-message-5729" class="global-error-message"></div>
          <div class="row kali-form-field-row">
            <div class="col-12 col-md-12">
              <label for="email1">E-mail <span class="kali-required-mark"></span></label>
              <input data-internal-id="email1" type="email" id="email1" name="email" placeholder="E-mail adres" required class="input" />
            </div>
          </div>
          <div class="row kali-form-field-row">
            <div class="col-12 col-md-12">
              <input data-internal-id="submitbutton2" type="submit" id="submitButton2" data-style="default" name="submitButton2" class="input" value="Inschrijven" />
            </div>
          </div>
          <!-- This form was built using Kali Forms -->
        </form>
      </div>

      <a href="" class="brand">
        <picture>
          <img src="{% static 'images/habesha2.png' %}" alt="The Beerbox" />
        </picture>
      </a>

      <ul class="menu list-unstyled hstack gap-3 stack-exclude">
        <li>
          <a rel="noopener nofollow" href="" class="link" target="blank" title="Facebook">
            <i class="icon icon-facebook icon-xxlarge" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a rel="noopener nofollow" href="" class="link" target="blank" title="Instagram">
            <i class="icon icon-instagram icon-xxlarge" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a rel="noopener nofollow" href="" class="link" target="blank" title="LinkedIn">
            <i class="icon icon-linkedin icon-xxlarge" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container-xxl">
      <div class="footer-privacy">
        <div>
          <div class="d-lg-flex">
            <p class="mb-0">© habesha <span class="d-none d-lg-inline">-</span></p>
            <nav class="privacy-nav">
              <ul class="menu list-unstyled menu-horizontal is-compact">
                <li id="menu-item-451" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-451">
                  <a rel="privacy-policy" href="">Privacy declaration</a>
                </li>
                <li id="menu-item-458" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-458">
                  <a href="">Terms and Conditions</a>
                </li>
                <li id="menu-item-457" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-457">
                  <a href="">Gebruikersvoorwaarden Website</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="footer-logos">
          <div class="hstack stack-exclude gap-3">
            <a href="" target="blank">
              <picture class="icon">
                <img src="{% static 'images/nix18.svg' %}" alt="Nix18" />
              </picture>
            </a>

            <picture class="icon">
              <img src="{% static 'images/ideal.svg' %}" alt="iDeal" />
            </picture>

            <picture class="icon">
              <img src="{% static 'images/creditcards.svg' %}" alt="Creditcards" />
            </picture>

            <picture class="icon">
              <img src="{% static 'images/klarnapaynow.svg' %}" alt="Klarna" />
            </picture>

            <picture class="icon">
              <img src="{% static 'images/bancontact.svg' %}" alt="Klarna" />
            </picture>

            <picture class="icon">
              <img src="{% static 'images/kbc.svg' %}" alt="KBC" />
            </picture>

            <picture class="icon">
              <img src="{% static 'images/belfius.svg' %}" alt="Belfius" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
