{% load static %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="mobileNav" aria-labelledby="mobileNavLabel">
    <div class="offcanvas-header">
        <a href="" class="brand">
            <picture>
                <img src="{% static 'images/logo.png' %}" alt="The Beerbox">
            </picture>
        </a>
        <button class="hamburger hamburger--collapse is-active pe-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#mobileNav" aria-controls="mobileNav">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="main-nav">
            <ul class="text-left menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5982"><a
                        href="">Bierboxen</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-29 current_page_item menu-item-5983">
                    <a href="" aria-current="page">Bieren</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7427"><a
                        href="">Smaakprofielen</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11160"><a
                        href="">Over ons</a></li>
            </ul>
        </div>
        <ul class="list-unstyled menu additional-nav">
            <li>
                <a href="#" data-bs-toggle="offcanvas" data-bs-target="#modalUserAccount"
                    aria-controls="modalUserAccount" class="button is-hollow">Inloggen</a>
            </li>
            <li>
                <ul class="menu list-unstyled hstack gap-4 stack-exclude justify-content-center">
                    <li><a rel="noopener nofollow" href="" class="link" title="Facebook" target="blank"><i class="icon icon-facebook icon-xxlarge"
                                aria-hidden="true"></i></a></li>
                    <li><a rel="noopener nofollow" href="" class="link" title="Instagram" target="blank"><i class="icon icon-instagram icon-xxlarge"
                                aria-hidden="true"></i></a></li>
                    <li><a rel="noopener nofollow" href="" class="link" title="LinkedIn" target="blank"><i class="icon icon-linkedin icon-xxlarge"
                                aria-hidden="true"></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
