{% extends 'mainapp/base.html' %} {% load static %} {% block content %}

<div class="elfsight-app-dd751d5b-1414-4652-bade-735da680f2a6"></div>
<!-- Google Tag Manager (noscript) -->
<noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-5GN92RJ"
    height="0"
    width="0"
    style="display: none; visibility: hidden"
  ></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->


<div class="modal fade" tabindex="-1" id="checkAgeModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <picture>
          <img src="{% static 'images/habesha.png' %}" alt="The Beerbox" />
        </picture>
      </div>
      <div class="modal-body">
        <p class="h3 text-base d-block">Are you 18 years or older?</p>
        <p class="h3 text-base d-none">Sorry! You are not yet 18.</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="button"
          data-bs-dismiss="modal"
          data-verify=""
        >
          I am over 18
        </button>
        <a href="" class="button is-brown">I am under 18</a>
      </div>
    </div>
  </div>
</div>
<div
  class="offcanvas offcanvas-account offcanvas-end"
  tabindex="-1"
  id="modalUserAccount"
  aria-labelledby="modalUserAccountLabel"
>
  <div class="offcanvas-header">
    <button
      class="hamburger hamburger--collapse is-active"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#modalUserAccount"
      aria-controls="modalUserAccount"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="container-xxl">
      <div class="row g-5">
        <!-- Signup Form -->
        <div class="col-24 col-lg-12">
          <h3 class="text-base text-primary">Create an Account</h3>
          <div class="section-form">
            <form
              class="kaliforms-form-container bootstrap-wrapper"
              method="post"
              action=""
            >
              {% csrf_token %}
              <div class="row kali-form-field-row">
                <div class="col-12 col-md-6">
                  <label for="full_name">Full Name <span class="kali-required-mark"></span></label>
                  <input type="text" id="full_name" name="full_name" placeholder="Full name" required />
                </div>
                <div class="col-12 col-md-6">
                  <label for="phone_number">Phone Number <span class="kali-required-mark"></span></label>
                  <input type="text" id="phone_number" name="phone_number" placeholder="Phone number" required />
                </div>
              </div>
              
              <div class="row kali-form-field-row">
                <div class="col-12 col-md-12">
                  <label for="username">Username <span class="kali-required-mark"></span></label>
                  <input type="text" id="username" name="username" placeholder="Username" required />
                </div>
              </div>
              
              <div class="row kali-form-field-row">
                <div class="col-12 col-md-12">
                  <label for="email">Email <span class="kali-required-mark"></span></label>
                  <input type="email" id="email" name="email" placeholder="Email" required />
                </div>
              </div>
              
              <div class="row kali-form-field-row">
                <div class="col-12 col-md-6">
                  <label for="password1">Password <span class="kali-required-mark"></span></label>
                  <input type="password" id="password1" name="password1" required />
                </div>
                <div class="col-12 col-md-6">
                  <label for="password2">Repeat Password <span class="kali-required-mark"></span></label>
                  <input type="password" id="password2" name="password2" required />
                </div>
              </div>
              
              <div class="row kali-form-field-row">
                <div class="col-12 col-md-6">
                  <label for="street">Street <span class="kali-required-mark"></span></label>
                  <input type="text" id="street" name="street" placeholder="Street" required />
                </div>
                <div class="col-12 col-md-6">
                  <label for="house_no">House Number <span class="kali-required-mark"></span></label>
                  <input type="text" id="house_no" name="house_no" placeholder="House number" required />
                </div>
              </div>
              
              <div class="row kali-form-field-row">
                <div class="col-12 col-md-12">
                  <label class="checkbox-label">
                    <input type="checkbox" id="termsAndConditions" name="termsAndConditions" required value="yes" />
                    <span style="position: relative; bottom: 3px">
                      <span class="kali-required-mark"></span>
                      <a href="" target="_blank">I agree to the terms and conditions</a>
                    </span>
                  </label>
                </div>
              </div>
              
              <div class="row kali-form-field-row">
                <div class="col-12 col-md-12">
                  <input type="submit" class="input" value="Register" />
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Login Form -->
        <div class="col-24 col-lg-12">
          <h3 class="text-base text-primary">I Already Have an Account</h3>
          <div class="section-form">
            <form
              name="loginform"
              action=""
              method="post"
            >
              {% csrf_token %}
                <div class="row kali-form-field-row">
                  <div class="col-12 col-md-12">
                    <label for="login_email">Email Address</label>
                    <input type="email" id="login_email" name="email" class="input" placeholder="Email" required />
                  </div>
                </div>
                <div class="row kali-form-field-row">
                  <div class="col-12 col-md-12">
                    <label for="login_password">Password</label>
                    <input type="password" id="login_password" name="password1" class="input" placeholder="Password" required />
                  </div>
                </div>
              <div class="row kali-form-field-row">
                <div class="col-12 col-md-12">
                  <label>
                    <input type="checkbox" name="rememberme" value="forever" /> Remember me
                  </label>
                </div>
              </div>
              <div class="row kali-form-field-row">
                <div class="col-12 col-md-12">
                  <input type="submit" class="button button-primary" value="Log In" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

</div>
<div
  class="offcanvas offcanvas-minicart offcanvas-end"
  tabindex="-1"
  id="modalMinicart"
  aria-labelledby="modalMinicartLabel"
>
  <div class="offcanvas-header">
    <button
      class="hamburger hamburger--collapse is-active"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#modalMinicart"
      aria-controls="modalMinicart"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="container-xxl">
      <h3 class="text-base text-primary">Shopping cart</h3>
      <div class="offcanvas-minicart">
        <p class="woocommerce-mini-cart__empty-message">
          No products in the shopping cart.
        </p>

        <div id="cart-container">
          <!-- Cart items will be dynamically added here -->
      </div>
      <div id="grand-total">0.00 birr</div>
      
      
      </div>
      
      
      </div>
      <div class="vstack woocommerce-buttons">
        <a
          href="javascript:;"
          data-bs-toggle="offcanvas"
          data-bs-target="#modalMinicart"
          aria-controls="modalMinicart"
          class="button is-hollow"
          >Continue shopping</a
        >
        <a
          href="https://www.thebeerbox.nl/winkelwagen/"
          class="button is-hollow"
          >To settle</a
        >
      </div>
    </div>
  </div>
</div>
<main id="main" role="main">
  <div class="container-xxl">
    <div class="section-content">
      <div class="woocommerce-notices-wrapper"></div>
    </div>
  </div>

  <section class="section-hero-cta pt-0 pb-0 p-5" data-bgcolor="dark">
    <picture class=''>
      <img
        src="{% static 'images/banner2.jpg' %}"
        alt="Bierbox op een plateau in de stad Groningen gevuld met 6 lokale speciaalbieren"
      />
    </picture>

    <div class="section-content">
      <div class="container-xxl">
        {% comment %} <h1
          class="text-warning bold"
          
        >
          Local specialty beers and specialty beer boxes
        </h1> {% endcomment %}

        {% comment %} <div class="lead">
          <p>Discover the taste of locally brewed specialty beer</p>
        </div> {% endcomment %}

        <a
          class="button text-center justify-content-center " style="justify-content: center; align-items: center; margin-top:300px "
          href=""
          target="_self"
          title="Ontdek alle speciaalbieren"
          >Discover items</a
        >
      </div>
    </div>
  </section>
  <section class="section-product-slider" data-bgcolor="dark">
    <div class="container-xxl">
      <div class="section-content">
        <div class="row justify-content-center">
          <div class="col-24">
            <h2 class="text-primary h2">Special beer offers</h2>
            
            <div class="swiper slider-product">
              <div class="swiper-wrapper">
                {% for f in food %}
                <div class="swiper-slide product-beers">
                  <div class="card-beerbox">
                    <header>
                      <div>
                        <div class="hstack stack-exclude gap-2">
                          <label>Offer</label>
                        </div>
                        <picture class="taste">
                          <img
                            class="lazyload"
                            data-src="/static/images/habesha2.png"
                            alt=""
                          />
                        </picture>
                      </div>
                    </header>

                    <a
                      href=""
                      class="picture"
                    >
                      <picture class="ratio ratio-4x3">
                        <img
                          class="lazyload"
                          data-src="{{f.image.url}}"
                          alt="De Kemphaan - Weerwater lentebok"
                        />
                      </picture>
                    </a>

                    <a
                      href="https://www.thebeerbox.nl/bier/weerwater/"
                      class="h4 text-base text-white"
                      >{{f.title}} </a
                    >
                    <p class="pricing"><s>{{f.discount_price}} birr</s> <span>{{f.price}} birr</span></p>
                    <div class="add-to-cart-wrapper">
                      <form
                        class="cart cell"
                        action="https://www.thebeerbox.nl/bier/weerwater/"
                        method="post"
                        enctype="multipart/form-data"
                      >
                        <div class="d-none">
                          <div class="quantity">

                            
                          </div>
                        </div>
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                        <div class="add-to-cart-wrapper">
                          
                          
                              <button
                                type="button"
                                class="button w-100 mb-3 is-compact is-border-compact"
                                data-item-id="{{ f.id }}"
                                data-item-slug="{{ f.slug }}"
                                data-item-title="{{ f.title }}"
                                data-item-price="{{ f.price }}"
                                data-item-discount-price="{{ f.discount_price }}"
                                data-item-image="{{ f.image.url }}"
                                onclick="addToCart('{{ f.slug }}', '{{ f.title }}', '{{ f.price }}', '{{ f.discount_price }}', '{{ f.image.url }}')"
                              >
                                Add To Cart
                              </button>
                       
                      
                      </div>
                      
                    </div>
                    <a
                      href=""
                      class="button is-hollow is-compact is-border-compact"
                      title=""
                      >look More</a
                    >
                  </div>
                </div>
                {% endfor %}
                
                
              </div>
            </div>
            
            <div class="slider-product-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-collection"  id="section-collection">
    <div class="container-xxl">
      <div class="section-content">
        <h2>Our Menu</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col">
            <a
              class="card-image-cta"
              href="https://www.thebeerbox.nl/bieren-speciaalbier-bestellen/?filter-field-beer_product_tasteprofile=|5989|"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/11/IMG-20230106-WA0008.jpg"
                  alt="IPA blikken in een stelling"
                />
              </picture>

              <div class="card-content">
                <p class="mb-0">Blond &amp; Hoppy</p>

                <i class="icon icon-chevron"></i>
              </div>
            </a>
          </div>
          <div class="col">
            <a
              class="card-image-cta"
              href="https://www.thebeerbox.nl/bieren-speciaalbier-bestellen/?filter-field-beer_product_tasteprofile=|5994|"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/08/13-januari-scaled.jpg"
                  alt="Grutte Pier Blond. De eigenaar heeft de fles en een bier in de handen."
                />
              </picture>

              <div class="card-content">
                <p class="mb-0">Easy &amp; Fresh</p>

                <i class="icon icon-chevron"></i>
              </div>
            </a>
          </div>
          <div class="col">
            <a
              class="card-image-cta"
              href="https://www.thebeerbox.nl/bieren-speciaalbier-bestellen/?filter-field-beer_product_tasteprofile=|5998|"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/04/Bier-Brouwerij-Utrecht.jpeg"
                  alt="Blond Bier inschenken Brouwerij Eleven - The Beerbox"
                />
              </picture>

              <div class="card-content">
                <p class="mb-0">Elegant &amp; Light</p>

                <i class="icon icon-chevron"></i>
              </div>
            </a>
          </div>
          <div class="col">
            <a
              class="card-image-cta"
              href="https://www.thebeerbox.nl/bieren-speciaalbier-bestellen/?filter-field-beer_product_tasteprofile=|6002|"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/07/MVI_0536.00_01_58_11.Still009.jpg"
                  alt="Foto donkere bieren The Beerbox Stout, Quadrupel, Porter, Baltic Porter,"
                />
              </picture>

              <div class="card-content">
                <p class="mb-0">Intense &amp; Bold</p>

                <i class="icon icon-chevron"></i>
              </div>
            </a>
          </div>
          <div class="col">
            <a
              class="card-image-cta"
              href="https://www.thebeerbox.nl/bieren-speciaalbier-bestellen/?filter-field-beer_product_tasteprofile=|6006|"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/04/IMG_20210112_143416-scaled.jpg"
                  alt="Kaapse Emmer ingeschonken bij de Maas in Rotterdam. Online verkrijgbaar bij The Beerbox"
                />
              </picture>

              <div class="card-content">
                <p class="mb-0">Smooth &amp; Amber</p>

                <i class="icon icon-chevron"></i>
              </div>
            </a>
          </div>
          <div class="col">
            <a
              class="card-image-cta"
              href="https://www.thebeerbox.nl/bieren-speciaalbier-bestellen/?filter-field-beer_product_tasteprofile=|6010|"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/11/collectencta_dark.jpg"
                  alt="Een donker stout bier wordt ingeschonken in een speciaalbierglas."
                />
              </picture>

              <div class="card-content">
                <p class="mb-0">Strong &amp; Dark</p>

                <i class="icon icon-chevron"></i>
              </div>
            </a>
          </div>
        </div>

        <div class="section-button">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg d-none d-lg-block">
              <hr />
            </div>
            <div class="col-auto">
              <a
                href="https://www.thebeerbox.nl/bieren-speciaalbier-bestellen/"
                class="button"
                >Bekijk alle bieren</a
              >
            </div>
            <div class="col-lg d-none d-lg-block">
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="section-product-slider has-overlay has-chalk-bg"
    data-bgcolor="dark"
  >
    <div class="container-xxl">
      <div class="section-content">
        <div class="row justify-content-center">
          <div class="col-24">
            <h2 class="text-primary h2">Our special Food</h2>
            
            
            <div class="swiper slider-product">
              <div class="swiper-wrapper">
              {% for b in beer  %}
                <div class="swiper-slide product-beers">
                  <div class="card-beerbox">
                    <header>
                      <div>
                        <div class="hstack stack-exclude gap-2">
                          <label>offers</label>
                        </div>
                        <picture class="taste">
                          <img
                            class="lazyload"
                            data-src="/static/images/habesha2.png"
                            alt=""
                          />
                        </picture>
                      </div>
                    </header>

                    <a
                      href=""
                      class="picture"
                    >
                      <picture class="ratio ratio-4x3">
                        <img
                          class="lazyload"
                          data-src="{{b.image.url}}"
                          alt=""
                        />
                      </picture>
                    </a>

                    <a
                      href="https://www.thebeerbox.nl/bier/maallust-veldwachter-bock/"
                      class="h4 text-base text-white"
                      >{{b.title}}</a
                    >
                    <p class="pricing"><s>{{b.discount_price}} birr</s> <span>{{b.price}} birr</span></p>
                    <div class="add-to-cart-wrapper">
                      <form
                        class="cart cell"
                        action="https://www.thebeerbox.nl/bier/maallust-veldwachter-bock/"
                        method="post"
                        enctype="multipart/form-data"
                      >
                        {% comment %} <div class="d-none">
                          <div class="quantity">
                            <label
                              class="screen-reader-text"
                              for="quantity_66a646aa1329c"
                              >Maallust - Veldwachter Bock aantal</label
                            >
                            <input
                              type="number"
                              id="quantity_66a646aa1329c"
                              class="input-text qty text"
                              name="quantity"
                              value="1"
                              aria-label="Productaantal"
                              size="4"
                              min="1"
                              max="16"
                              step="1"
                              placeholder=""
                              inputmode="numeric"
                              autocomplete="off"
                            />
                          </div>
                        </div> {% endcomment %}
                        <input type="hidden" name="add-to-cart" value="" />
                        <button
                          type="submit"
                          name="add-to-cart"
                          value=""
                          class="single_add_to_cart_button button w-100 mb-3 is-compact is-border-compact"
                        >
                          Add
                        </button>
                      </form>
                    </div>
                    <a
                      href=""
                      class="button is-hollow is-compact is-border-compact"
                      title="Bekijken"
                      >See More</a
                    >
                  </div>
                </div>
               
              {% endfor %}
              </div>
            </div>
         
            <div class="slider-product-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-image-out-container">
    <div class="container-xxl">
      <div class="card-wrapper">
        <div class="row">
          <div class="col-24">
            <h2> advertizment</h2>

            <p class="text-medium">
              Hét craft bier magazine van Nederland heeft begin maart de
              achttiende editie de wijde wereld ingeslingerd! Verrijk jezelf bij
              de The Beerbox van deze fonkelnieuwe Hopster #18 en lees alles
              over de (nieuwe) speciaalbieren die in deze zomereditie van het
              magazine worden uitgelicht. Grijp niet mis; de voorraad is
              beperkt!
            </p>

            <a
              class="button"
              href="https://www.thebeerbox.nl/bier/hopster-16/"
              target="_self"
            >
              Bestel Hopster #17
            </a>
          </div>
        </div>
        <div class="image-wrapper">
          <picture class="cover">
            <img
              class="lazyload"
              data-src="https://www.thebeerbox.nl/content/uploads/2024/07/hopstercover-nr18.png"
              alt="Hopster #18 is een onafhankelijk magazine met verhalen over de wereld van het Nederlandse craft bier met informatie over speciaalbieren. zomereditie, juni cover afbeelding"
            />
          </picture>
        </div>
      </div>
    </div>
  </section>
  <section class="section-slider-partners" data-bgcolor="cream">
    <div class="container-xxl">
      <h2 class="text-base">
        The breweries we work with
      </h2>
      <div class="swiper slider-partners">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/breugem-bier/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/06/Breugem-bier.png"
                  alt="Het logo van brouwerij Breugem bier uit Noord-Holland"
                />
              </picture>
            </a>
          </div>
          {% comment %} <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/berging-brouwerij/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/06/Berging.png"
                  alt="Het Logo van Berging Brouwerij uit Purmerend"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/brouwerij-lost/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/06/LOST.png"
                  alt="Het logo van brouwerij LOST uit Uitgeest"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/de-kemphaan-almere/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/06/De-Kemphaan-The-Beerbox.png"
                  alt="Logo van Stadsbrouwerij De Kemphaan uit Almere"
                />
              </picture>
            </a>
          </div> {% endcomment %}
          {% comment %} <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/hert-bier/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/05/Hert-bier-logo-logo-1.png"
                  alt="Het logo van brouwerij Hert Bier uit Putten."
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/papas-aan-de-fles/"
              class="card-partner-logo"
            >
              <picture>
                <img class="lazyload"
                data-src="https://www.thebeerbox.nl/content/uploads/2023/05/Papas-aan-de-fles-logoMolen-1.png"
                alt="Logo" s="" van="" papa's="" aan="" de="" fles.'="">
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/othmar-bierbrouwerij/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/04/Othmar-Logo-3.png"
                  alt="Logo van Othmar Brouwerij uit Ootmarsum"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/kaapse-brouwers/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/04/Kaapse-Brouwers-Logo.png"
                  alt="Logo Kaapse Brouwers. Speciaalbier online bestellen bij The Beerbox"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/brouwerij-eleven/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/04/Eleven-logo.png"
                  alt="Logo Brouwerij Eleven - bieren online kopen bij The Beerbox"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/brouwerij-rolduc/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/04/Rolduc.png"
                  alt="Rolduc Logo | bierbox"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/bruut-bier/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/04/Bruut-Bier.png"
                  alt="Bruut Bier | The Beerbox | bierbox"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/brouwerij-de-koningshoeven-la-trappe/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/03/La-trappe-logo.png"
                  alt="Brouwerij La trappe logo bij The Beerbox"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/vandestreek-bier/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/03/vandestreekLogo.png"
                  alt="VandeStreek bieren nu verkrijgbaar bij The Beerbox"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/davo-bieren/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/03/DAVO-Logo.png"
                  alt="DAVO Logo – the beerbox"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/low-five-brewing/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/03/Low-Five-Brewing-logo.png"
                  alt="Low Five Brewing logo"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/achterhoeksgenot/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/02/Achterhoeksgenot.png"
                  alt="Achterhoeksgenot"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/berghoeve-brouwerij/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/02/Berghoeve-logo-1.png"
                  alt="Logo Berghoeve brouwerij - The Beerbox"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/moersleutel/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/02/Moersleutel-logo-nname-blackimage-1.png"
                  alt="Moersleutel logo zwart – The Beerbox"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/brouwerij-volendam/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/02/VDBrouwerij_Logo.png"
                  alt="VDBrouwerij_Logo"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/graansilo/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/01/Graansilo2.png"
                  alt="Graansilo-thebeerbox"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/brouwerij-deprael/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/01/De-Prael.png"
                  alt="De Prael logo – the beerbox"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/het-zotte-kalf/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2023/01/image.png"
                  alt="Hetzottekalf-thebeerbox"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/van-moll-craft-beer/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/12/van-Moll.png"
                  alt="van Moll"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/brouwerij-de-molen/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/12/De-Molen.png"
                  alt="De Molen"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/gula-beers/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/12/Gula-Beers-1.png"
                  alt="Gula Beers 1"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/brouwerij-bello/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/12/Bello.png"
                  alt="Bello"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/gulpener/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/12/Gulpener.png"
                  alt="Gulpener logo – The Beerbox"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/brouwerij-maallust/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/11/nectar-utrecht-pils-bier-brouwerij-nederland-veenhuizen-maallust-logo-01-300x300-1.png"
                  alt="nectar-utrecht-pils-bier-brouwerij-nederland-veenhuizen-maallust-logo-01-300×300"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/grunnbier-groningse-bierbrouwerij/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/08/Grunn.png"
                  alt="Grunn"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/het-brouwdok/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/08/Brouwdok.png"
                  alt="Brouwdok"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/brouwerij-dokkum/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/08/Brouwerij-Dockum.png"
                  alt="Brouwerij Dockum"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/gruttepier-brouwerij/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/08/Grutte-Pier.png"
                  alt="Grutte Pier logo – the beerbox"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/floem-craft-beer-brouwerij/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/06/Floem.png"
                  alt="Floem"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/brouwerij-hoogkerk-groningen/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/05/Hoogkerk.png"
                  alt="Hoogkerk"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/de-vrolijcke-joncker-brouwerij-groningen/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/05/Vrolijcke-Joncker.png"
                  alt="Vrolijcke Joncker"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/folkingebrew-brouwerij-groningen/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/05/Folkingebrew.png"
                  alt="Folkingebrew"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/eggens-craft-beer-brouwerij-groningen/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/05/Eggens.png"
                  alt="Eggens"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/brouwerij-allema-groningen/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/04/Allema.png"
                  alt="Allema"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/baxbier-groningen-brouwerij/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/04/Baxbier.png"
                  alt="Baxbier"
                />
              </picture>
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.thebeerbox.nl/brouwerijen/martinus-brouwerij-groningen/"
              class="card-partner-logo"
            >
              <picture>
                <img
                  class="lazyload"
                  data-src="https://www.thebeerbox.nl/content/uploads/2022/03/Martinus.png"
                  alt="Martinus"
                />
              </picture>
            </a>
          </div> {% endcomment %}
        </div>

        <div class="swiper-pagination"></div>
      </div>

      <div class="d-flex justify-content-center">
        <a
          class="button"
          href="https://www.thebeerbox.nl/brouwerijen/"
          target="_self"
          >Discover all breweries</a
        >
      </div>

      <div class="swiper-btn swiper-btn-prev">
        <i class="icon icon-chevron flipped" aria-hidden="true"></i>
      </div>
      <div class="swiper-btn swiper-btn-next">
        <i class="icon icon-chevron" aria-hidden="true"></i>
      </div>
    </div>
  </section>
</main>
<!-- footer -->
<style>
  /* Container for Cart Items */
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    background: linear-gradient(135deg, #f3f3f3,rgb(97, 93, 93));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .cart-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #e5e5e5;
  }
  
  .cart-item-details {
    flex: 1;
    margin-left: 15px;
    color: #333;
  }
  
  .cart-item-details p {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .cart-item-details .quantity {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0 10px;
  }
  
  button {
    background-color:rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #c4c4c4;
    cursor: not-allowed;
  }
  
  .increment-btn,
  .decrement-btn,
  .remove-btn {
    margin-right: 10px;
  }
  
  .increment-btn,
  .decrement-btn {
    background: #28a745;
  }
  
  .increment-btn:hover,
  .decrement-btn:hover {
    background: #218838;
  }
  
  .remove-btn {
    background: #dc3545;
  }
  
  .remove-btn:hover {
    background: #c82333;
  }
  
  @media (max-width: 600px) {
    .cart-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .cart-item-image {
      margin-bottom: 10px;
    }
  
    .cart-item-details {
      margin-left: 0;
    }
  
    button {
      width: 100%;
      margin-bottom: 5px;
    }
  
    .increment-btn,
    .decrement-btn,
    .remove-btn {
      margin-right: 0;
    }
  }

  #cart-total-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 15px;
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    justify-content:left;
  }
  
  #cart-total {
    font-weight: bold;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
  }
  
  .checkout-btn {
    outline: none;
    background-color:rgb(165, 99, 6); /* Custom yellow/orange color */
    color: white; /* White text */
    padding: 15px 30px; /* Increased padding */
     /* Larger text */
    border-radius: 7px; /* Rounded corners */
    text-transform: uppercase; /* Uppercase text */
    font-weight: bold; /* Bold text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

.checkout-btn:hover {
    background-color: #e68a00; /* Darken on hover */
    transform: translateY(-2px); /* Lift the button slightly */
}

.checkout-btn:focus {
    outline: none; /* Remove outline when focused */
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.8); /* Glow effect on focus */
}

</style>

  // Add product to cart
 // Add to cart
 <script>
 function addToCart(itemSlug, title, price, discountPrice, imageUrl) {
    $.ajax({
        url: `/add-to-cart/${itemSlug}/`,
        type: 'POST',
        data: {
            csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
        },
        success: function (response) {
            const existingItem = $(`.cart-item[data-item-id="${response.item_id}"]`);

            if (existingItem.length) {
                // Update quantity and total price if the item is already in the cart
                const quantityElem = existingItem.find('.quantity');
                const updatedQuantity = response.quantity;
                quantityElem.text(updatedQuantity);

                const totalPriceElem = existingItem.find('.cart-item-details p:nth-child(2)');
                totalPriceElem.text(`${response.item_price} x ${updatedQuantity} = ${response.total_price}`);
            } else {
                // Add new cart item if it doesn't exist
                const cartItem = `
                    <div class="cart-item" data-item-id="${response.item_id}">
                        <img src="${response.item_image_url}" alt="${response.item_title}" class="cart-item-image">
                        <div class="cart-item-details">
                            <p>${response.item_title}</p>
                            <p>${response.item_price} x ${response.quantity} = ${response.total_price}</p>
                            <button class="decrement-btn">-</button>
                            <span class="quantity">${response.quantity}</span>
                            <button class="increment-btn">+</button>
                            <button class="remove-btn">Remove</button>
                        </div>
                      
                    </div>`;
                $('#cart-items').append(cartItem);
               $('#cart-count').text(response.cart_count);
                
            }

            if (!$('#checkout-container').length) {
              const checkoutButton = `
                  <div id="checkout-container">
                      <a class="btn btn-success checkout-btn" href="/checkout/">Proceed to checkout</a>
                  </div>`;
              $('#cart-items').after(checkoutButton);

          }
          // Update cart count
          $('#cart-count').text(response.cart_count);

          if (response.cart_count === 0) {
            $('#cart-items').html('<p>No items added</p>');
            $('#checkout-container').remove(); // Hide checkout button if no items
        }

            updateCartTotal();
        },
        error: function () {
            alert("An error occurred. Please try again.");
        }
    });
}

$(document).on('click', '.increment-btn', function () {
  const itemId = $(this).closest('.cart-item').data('item-id');
  $.ajax({
      url: `/add-single-item-to-cart/${itemId}/`,
      type: 'POST',
      data: {
          csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
      },
      success: function (response) {
          const itemElem = $(`.cart-item[data-item-id="${response.item_id}"]`);
          // Update quantity
          itemElem.find('.quantity').text(response.quantity);
          // Calculate and update the line total (item price x quantity)
          const lineTotal = response.item_price * response.quantity;
          itemElem.find('.cart-item-details p:nth-child(2)').text(
              `${response.item_price} x ${response.quantity} = ${lineTotal}`
          );
          // Update cart total (if displayed elsewhere)
          updateCartTotal(response.cart_count, response.total_price);
      },
      error: function (xhr) {
          console.error("Error details:", xhr.responseText);
          alert("Failed to add item to the cart.");
      }
  });
});

$(document).on('click', '.decrement-btn', function () {
  const itemId = $(this).closest('.cart-item').data('item-id');
  $.ajax({
      url: `/remove-item-from-cart/${itemId}/`,
      type: 'POST',
      data: {
          csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
      },
      success: function (response) {
          const itemElem = $(`.cart-item[data-item-id="${response.item_id}"]`);
          if (response.quantity === 0) {
              // Remove the item from the cart if the quantity is 0
              itemElem.remove();
          } else {
              // Update the item's quantity and price
              itemElem.find('.quantity').text(response.quantity);
              itemElem.find('.cart-item-details p:nth-child(2)').text(
                  `${response.item_price} x ${response.quantity} = ${response.total_price}`
              );
          }
          // Update cart total (if displayed elsewhere)
          updateCartTotal(response.cart_count, response.total_price);
      },
      error: function (xhr) {
          console.error("Error details:", xhr.responseText);
          alert("Failed to update item quantity.");
      }
  });
});

$(document).on('click', '.remove-btn', function () { 
  const itemId = $(this).closest('.cart-item').data('item-id');
  $.ajax({
      url: `/remove-from-cart/${itemId}/`,
      type: 'POST',
      data: {
          csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
      },
      success: function (response) {
          $(`.cart-item[data-item-id="${itemId}"]`).remove();
          // Update cart count and total price using response data
          $('#cart-count').text(response.cart_count);
          $('#cart-total').text(`Total: ${response.total_price.toFixed(2)}`);
      },
      error: function () {
          alert("Failed to remove item from cart.");
      }
  });
});

function updateCartTotal() {
  let total = 0;

  // Calculate total price of all cart items
  $('.cart-item').each(function () {
      const lineTotal = parseFloat(
          $(this).find('.cart-item-details p:nth-child(2)').text().split('=')[1].trim()
      );
      total += lineTotal;
  });

  // Update the total price with bold styling in a card
  if (!$('#cart-total-card').length) {
      // Create the card dynamically if it doesn't exist
      const totalCard = `
        <div id="cart-total-card" class="card mt-3">
            <div class="card-body text-center">
                <span id="cart-total" class="font-weight-bold text-white">Total: ${total.toFixed(2)}</span>
            </div>
        </div>`;
      $('#cart-items').before(totalCard);
  } else {
      // Update the existing card
      $('#cart-total').text(`Total: ${total.toFixed(2)}`);
  }
}

  </script>
  
  
  
  
  
{% endblock content %}
